@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  display: flex;
  overflow: hidden;
  font-family: Inter, "sans-serif";
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #ffffff;
  position: relative;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3em;
  animation: fadeIn 4s forwards;
  opacity: 0;
}

h2 {
  font-size: 2em;
  animation: fadeIn 4s forwards;
  opacity: 0;
}

.container span {
  color: rgb(153, 0, 255);
  animation: none;
  font-size: larger;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
}
